* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 32px;
  margin-left: auto;
  margin-right: auto;
}

.hider {
  padding-bottom: 76px;
}

.hider_logo {
  padding-left: 300px;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.hero_h1 {
  color: #323142;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.04em;
  text-align: left;
}

.logo_left {
  border: 1px solid black;
  padding: 15.1px 78px;
  background: #f5f5f5;
  border: none;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.logo_right {
  border: 1px solid black;
  padding: 11px 78px;
  background: #f5f5f5;
  border: none;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.logo_left:hover {
  background: #8ee591;
  transition: 1.5s all ease;
}

.logo_right:hover {
  background: #8ee591;
  transition: 1.5s all ease;
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 22px;
  padding-top: 48px;
}

.or {
  text-align: center;
  align-items: center;
  color: #32314259;
  padding-top: 50px;
  cursor: pointer;
}

input {
  border: none;
  background: #f5f5f5;
}

.input_1 {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding: 25px 250px 25px 23px;
  border: none;
  gap: 33px;
  background: #f5f5f5;
  border-radius: 15px;
  margin-bottom: 25px;
}

.input_2 {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding: 25px 250px 25px 23px;
  border: none;
  gap: 33px;
  background: #f5f5f5;
  border-radius: 15px;
}

input {
  border: none;
  border-color: white;
}

.inputs {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.hero_input {
  border: none;
  border-color: white;
  outline: none;
}

.password {
  color: #6c5fbc;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  padding-left: 300px;
  cursor: pointer;
  padding-top: 13px;
}

.sign_up {
  border: 1px solid black;
  border: none;
  border-radius: 16px;
  background: #6c5fbc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.sign_in {
  text-decoration: none;
  color: #f3f5f6;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-align: center;
  align-items: center;
  padding: 25px 156px;
}

.sign_up:hover {
  background-color: #2b11d5;
  transition: 1.5s all ease;
}

.bottom_h3 {
  color: #3e3e3e;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;

  font-family: Poppins;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;

}

.bottom_link {
  text-decoration: none;
  color: #6c5fbc;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
}

.bottom {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 7px;
  padding-top: 23px;
}







@media only screen and (max-width: 1080px) {
  .hider_logo {
    padding-left: 250px;
  }
}

@media only screen and (max-width: 1000px) {
  .hider_logo {
    padding-left: 200px;
  }
}

@media only screen and (max-width: 900px) {
  .hider_logo {
    padding-left: 170px;
  }
}

@media only screen and (max-width: 845px) {
  .hider_logo {
    padding-left: 145px;
  }
}

@media only screen and (max-width: 760px) {
  .hider_logo {
    padding-left: 115px;
  }
}

@media only screen and (max-width: 690px) {
  .hider_logo {
    padding-left: 80px;
  }
}

@media only screen and (max-width: 630px) {
  .hider_logo {
    padding-left: 60px;
  }
}


@media only screen and (max-width: 590px) {
  .hider_logo {
    padding-left: 40px;
  }
}



@media only screen and (max-width: 555px) {

  .hider_logo {
    width: 47px;
    padding-left: 25px;
  }

  .hero_h1 {
    font-size: 33px;
  }

  .logo_left {
    padding: 12.1px 68px;
  }

  .logo_right {
    padding: 7.7px 67px;
  }

  .or {
    font-size: 29px;
  }

  .input_1 {
    padding: 20px 230px 20px 20px;
  }

  .input_2 {
    padding: 20px 230px 20px 20px;
  }

  .sign_in {
    padding: 23px 136px;
    font-size: 17px;
  }



}

@media only screen and (max-width: 520px) {
  .input_1 {
    padding: 19px 180px 19px 40px;
  }

  .input_2 {
    padding: 19px 180px 19px 40px;
  }

  .hider_logo {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 483px) {
  .hider_logo {
    width: 45px;
    padding-left: 10px;
  }

  .hero_h1 {
    font-size: 32px;
  }

  .logo_left {
    padding: 10.1px 64px;
  }

  .logo_right {
    padding: 5.7px 63px;
  }

  .or {
    font-size: 27px;
    padding-top: 40px;
  }

  .input_1 {
    padding: 20px 180px 20px 20px;
  }

  .input_2 {
    padding: 20px 180px 20px 20px;
  }

  .sign_in {
    padding: 23px 136px;
    font-size: 17px;
  }

  .bottom_h3 {
    font-size: 18px;
  }

  .bottom_link {
    font-size: 18px;
  }

  .password {
    font-size: 14px;
    padding-left: 280px;
  }
}

@media only screen and (max-width: 448px) {
  .input_1 {
    padding: 20px 140px 20px 20px;
  }

  .input_2 {
    padding: 20px 140px 20px 20px;
  }

  .hider_logo {
    width: 45px;
    padding-left: 5px;
  }

  .hero_h1 {
    font-size: 32px;
  }

  .logo_left {
    padding: 10.1px 60px;
  }

  .logo_right {
    padding: 5.7px 59px;
  }

  .or {
    font-size: 26px;
    padding-top: 35px;
  }

  .sign_in {
    padding: 20px 136px;
    font-size: 17px;
  }

  .bottom_h3 {
    font-size: 17px;
  }

  .bottom_link {
    font-size: 17px;
  }

  .password {
    font-size: 14px;
    padding-left: 250px;
  }
}

@media only screen and (max-width: 418px) {
  .input_1 {
    padding: 20px 120px 20px 20px;
  }

  .input_2 {
    padding: 20px 120px 20px 20px;
  }

  .email {
    width: 23px;
  }

  .block {
    width: 20px;
  }

  .hider_logo {
    width: 44px;
    padding-left: 0px;
  }

  .hero_h1 {
    font-size: 32px;
  }

  .logo_left {
    padding: 10.1px 50px;
  }

  .logo_right {
    padding: 6.7px 48px;
  }

  .or {
    font-size: 26px;
    padding-top: 33px;
  }

  .sign_in {
    padding: 20px 136px;
    font-size: 17px;
  }

  .bottom_h3 {
    font-size: 17px;
  }

  .bottom_link {
    font-size: 17px;
  }

  .password {
    font-size: 14px;
    padding-left: 220px;
  }

  .hider {
    display: flex;
  }

  .google {
    width: 22px;
  }

  .apple {
    width: 24px;
  }

  .sign_in {
    padding: 25px 0px;
  }
}

@media only screen and (max-width: 388px) {
  .input_1 {
    padding: 20px 100px 20px 20px;
  }

  .input_2 {
    padding: 20px 100px 20px 20px;
  }

  .hider_logo {
    width: 41px;
    /* padding-left: 20px;. */
  }

  .hero_h1 {
    font-size: 30px;
  }

  .logo_left {
    padding: 10.1px 47px;
  }

  .logo_right {
    padding: 6.7px 45px;
  }

  .or {
    font-size: 25px;
    padding-top: 30px;
  }


  .bottom_h3 {
    font-size: 16px;
  }

  .bottom_link {
    font-size: 16px;
  }

  .password {
    font-size: 14px;
    padding-left: 190px;
  }

  .hider {
    display: flex;
  }

  .google {
    width: 20px;
  }

  .apple {
    width: 22px;
  }

  .sign_in {
    padding: 20px 0px;
  }
}

@media only screen and (max-width: 366px) {
  .input_1 {
    padding: 20px 70px 20px 20px;
  }

  .input_2 {
    padding: 20px 70px 20px 20px;
  }

  .email {
    width: 22px;
  }

  .block {
    width: 19px;
  }

  .hero_h1 {
    font-size: 29px;
  }

  .or {
    font-size: 24px;
    padding-top: 25px;
  }

  .password {
    font-size: 14px;
    padding-left: 160px;
  }
}

@media only screen and (max-width: 330px) {

  .hider_logo {
    width: 39px;
  }

  .hero_h1 {
    font-size: 28px;
  }


  .logo_left {
    padding: 10.1px 47px;
  }

  .logo_right {
    padding: 6.7px 45px;
  }

  .google {
    width: 18px;
  }

  .apple {
    width: 20px;
  }


  .or {
    font-size: 23px;
    padding-top: 24px;
  }


  .input_1 {
    padding: 20px 40px 20px 20px;
  }

  .email {
    width: 20px;
  }

  .block {
    width: 17px;
  }


  .input_2 {
    padding: 20px 40px 20px 20px;
  }


  .password {
    font-size: 14px;
    padding-left: 140px;
  }


  .sign_in {
    padding: 18px 0px;
    font-size: 16px;
  }

  .bottom_h3 {
    font-size: 14px;
  }

  .bottom_link {
    font-size: 14px;
  }
}


@media only screen and (max-width: 308px) {

  .hider_logo {
    width: 38px;
  }

  .hero_h1 {
    font-size: 27px;
  }

  .google {
    width: 16px;
  }

  .apple {
    width: 18px;
  }


  .logo_left {
    padding: 10.1px 43px;
  }

  .logo_right {
    padding: 6.7px 41px;
  }

  .google {
    width: 16px;
  }

  .apple {
    width: 18px;
  }


  .or {
    font-size: 21px;
    padding-top: 22px;
  }


  .input_1 {
    padding: 20px 25px 20px 20px;
  }

  .email {
    width: 19px;
  }

  .block {
    width: 16px;
  }


  .input_2 {
    padding: 20px 25px 20px 20px;
  }


  .password {
    font-size: 14px;
    padding-left: 100px;
  }


  .sign_in {
    padding: 18px 0px;
    font-size: 16px;
  }

  .bottom_h3 {
    font-size: 14px;
  }

  .bottom_link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 280px) {

  .hider_logo {
    width: 37px;
  }

  .hero_h1 {
    font-size: 26px;
  }

  .google {
    width: 14px;
  }

  .apple {
    width: 16px;
  }


  .logo_left {
    padding: 10.1px 40px;
  }

  .logo_right {
    padding: 6.7px 38px;
  }


  .or {
    font-size: 20px;
    padding-top: 20px;
  }


  .input_1 {
    padding: 20px 2px 20px 20px;
  }

  .email {
    width: 17px;
  }

  .block {
    width: 14px;
  }


  .input_2 {
    padding: 20px 2px 20px 20px;
  }


  .password {
    font-size: 13px;
    padding-left: 100px;
  }


  .sign_in {
    padding: 16px 0px;
    font-size: 15px;
  }

  .bottom_h3 {
    font-size: 13px;
  }

  .bottom_link {
    font-size: 13px;
  }
}